* {
	margin: 0;
	padding: 0;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #cf0000), url(https://images.unsplash.com/photo-1585747860715-2ba37e788b70?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmFyYmVyc2hvcHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
	background-size: cover;
    background-position: center;
    height: 100vh;
	font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Pattaya', sans-serif;
}

/*-- Nav Bar --*/

header {
  background-color: #1a1c20;
  display: flex;
  justify-content: center;
  padding-bottom: 13px;
}

.header-btn {
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Pattaya', sans-serif;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 1.5em;
    margin-top: 15px;
    margin-right: 100px;
    cursor: pointer;
}

.logo-contact {
    cursor: pointer;
    width: 135px;
    height: 40px;
    margin-right: auto;
    padding-left: 40px;
    padding-top: 15px;
}

.header-btn:hover {
    border: 3px solid #cf0000;
    color: #cf0000;
}

/*-- Formular Programare --*/

.programari {
	width: 380px;
	height: 640px;
	margin: auto;
	border-radius: 3px;
	background-color: white;
	margin-top: 30px;
}
	
h1 {
	text-align: center;
	padding-top: 15px;
}

form {
	width: 300px;
	margin-left: 20px;
}

form label {
	display: flex;
	margin-top: 20px;
	font-size: 18px;
}

form input {
	width: 100%;
	padding: 7px;
	border: none;
	border: 1px solid gray;
	border-radius: 6px;
	outline: none;
	margin-top: 5px;
}

input[type="button"] {
	width: 320px;
	height: 35px;
	margin-top: 20px;
	border: none;
	background-color: #cf0000;
	color: white;
	font-size: 18px;
	cursor: pointer;
}

#ore, #frizer {
	width: 100%;
	padding: 7px;
	border: none;
	border: 1px solid gray;
	border-radius: 6px;
	outline: none;
	margin-top: 5px;
	cursor: pointer;
}

p {
	text-align: center;
	padding-top: 20px;
	font-size: 15px;

}